<!-- base extention -->
{% extends 'layouts/authBase.html' %}

<!-- static load -->
{% load static %}

<!-- load humanize -->
{% load humanize %}

    <!-- content block -->
    {% block content %}

    {% for p in post %}
    {{ p.body|safe }}
    {% endfor %}
    <div class="col-sm-12">
        <b class="h3">
        Top Questions
        </b>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <a href="{% url 'create_post' %}" class="btn btn-success btn-md float-left text-white">Ask Question</a>
        </div>

        <div class="col-sm-12 col-md-6">
        <button class="btn btn-sm float-right stylish-color-dark text-white">Year</button>
        <button class="btn btn-sm float-right stylish-color-dark text-white">Month</button>
        <button class="btn btn-sm float-right stylish-color-dark text-white">Week</button>
        </div>
    </div>

    <!--Table-->
    <table class="table table-fixed">
        <!--Table body-->
        <tbody>
        <tr>
            <td>
                <tr>
                    {% for p in post %}
                        <div class="media">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6 class="d-none d-sm-none d-md-inline mt-0 mb-3 font-weight-bold float-left">
                                            <a style="width: 100%;" class="text-primary" href="#">
                                                {{ p.title|truncatechars:50 }}
                                            </a>
                                        </h6>
                                        <h6 class="d-sm-inline d-md-none mt-0 mb-3 font-weight-bold float-left">
                                            <a style="width: 100%;" class="text-primary" href="#">
                                                {{ p.title|truncatechars:25 }}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <p class="float-right">
                                    0 answers
                                    <a class="d-none d-sm-none d-md-inline btn btn-sm stylish-color-dark text-white" href="/lang/{{ p.language }}">
                                        {{ p.language }}
                                    </a>
                                    <b>
                                        {{ p.created_on|naturaltime }}
                                    </b>
                                </p>
                            </div>
                            <img src="{% static 'img/logo/logo.png' %}" class="rounded-circle z-depth-0 img-fluid" width="35" alt="author" height="50">
                        </div>
                    {% endfor %}
                </tr>
            </td>

        </tr>
        </tbody>
        <!--Table body-->

    </table>
    <!--Table-->
  
{% endblock %}