<!-- base extention -->
{% extends 'layouts/blankBase.html' %}

<!-- static load -->
{% load static %}

<!-- load userform_filter -->
{% load userform_filter %}

<!-- block content -->
{% block content %}

    <!-- register form -->
    <form action="." method="POST">
        {% csrf_token %}
        <div class="modal-dialog cascading-modal modal-avatar modal-md" role="document">
            <div class="modal-content">
            <div class="modal-header text-center">
                <img src="{% static 'img/logo/logo.png' %}" alt="avatar" class="rounded-circle img-responsive">
            </div>
            <div class="modal-body mx-3">
                {% for f in form%}
                    {{ f.label }}
                    <div class="md-form mb-5">
                        {{ f|add_class:'form-control validate' }}
                        <i class="text-danger">
                            {{ f.errors }}
                        </i>
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <a href="/account/login" class="float-right text-primary">
                    Login
                </a>
                <button type="submit" class="btn btn-lg stylish-color-dark text-white">Sign up</button>
            </div>
            </div>
        </div>
    </form>
    
    <!-- home -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center">
                <a href="/" class="btn btn-md btn-white text-black">
                    Home
                </a>
            </div>
        </div>
    </div>
{% endblock %}