/* html */
html{
    scroll-behavior: smooth;
    min-height: 100%;
}

/* color */
.bg-p{
    background-color: #3E4551 !important;
}
.text-p{
    color: #3E4551 !important;
}
.bg-black{
    background-color: #000 !important;
}
.text-black{
    color: #000 !important;
}
.bg-white{
    background-color: #fff !important;
}
.text-white{
    color: #fff !important;
}

/* scroll up */
.scrollup{
    position: fixed;
    bottom: 0.5%;
    right: 0.5%;
}

/* table */
.tb-scroll{
    position: relative;
    height: 100vh;
    overflow: auto;
}

/* blockquote */
blockquote{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    overflow: auto;
    width: auto;
    padding: 5px;
    background-color: rgb(136, 136, 136);
    padding-bottom: 20px;
    max-height: 500px;
    max-width: 100%;
}