<!-- base extention -->
{% extends 'layouts/authBase.html' %}

<!-- static load -->
{% load static %}

<!-- load humanize -->
{% load humanize %}

<!-- content block -->
{% block content %}

    <!-- blockquote css -->
    <style>
        pre{
            background-color: #9b9b9b;
        }
    </style>
    


    <div class="col-sm-12">
        <b class="h3">
        Top Questions
        </b>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <a href="{% url 'create_post' %}" class="btn btn-success btn-md float-left text-white">Ask Question</a>
        </div>

        <div class="col-sm-12 col-md-6">
        <button class="btn btn-sm float-right stylish-color-dark text-white">Year</button>
        <button class="btn btn-sm float-right stylish-color-dark text-white">Month</button>
        <button class="btn btn-sm float-right stylish-color-dark text-white">Week</button>
        </div>
    </div>

    <h5>
        <b>
            {{ data.title }}
        </b>
    </h5>
    
    <br/>
    
    <p>
        <b>Question:</b>
        
        <b class="date float-right">
            {{  data.created_on|naturaltime }}
        </b>

        <br/>
        
        <b style="cursor: pointer;" class="float-right text-capitalize">
            Author
            <i data-toggle="modal" data-target="#sideModalTR" class="text-primary" >{{  data.user.username }}</i>
        </b>

        <br/>

        {{  data.body|safe }}

    </p>

    <br/>

    <b>Code Problem:</b>
    
    <br/>

    <!-- copy button -->
    <button onclick="alertify.alert('Copied!');" style="position:absolute;" class="btn btn-sm stylish-color-dark copy" data-clipboard-action="copy" data-clipboard-target="#codeBlock">
        <i class="fas fa-2x fa-copy text-white"></i>
    </button>

    <!-- code body -->
    <pre id="codeBlock" class="pre-scrollable">
        <code>
            {{ data.code_body|safe }}
        </code>
    </pre>

    <!-- modal for author informations -->    
    <div class="modal fade right" id="sideModalTR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-side modal-top-right modal-md" role="document">    
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel"><b>Author's Info</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="authorInfo" class="text-capitalize text-left p-2">
                    <h5>
                        USERNAME: {{ data.user.username|truncatechars:20 }}
                    </h5>
                    <h5>
                        GITHUB: 
                        <a href="{{ data.user.github.github }}" class="text-black">
                            <i class="fab fa-lg fa-github"></i>
                        </a>
                    </h5>
                    <h5>
                        STAFF:
                        {% if data.user.is_staff %}
                            <label class="switch">
                                <input type="checkbox" checked disabled>
                                <span class="slider round"></span>
                            </label>
                        {% else %}
                            <label class="switch">
                                <input type="checkbox" disabled>
                                <span class="slider round"></span>
                            </label>
                        {% endif %}
                    </h5>
                    <h5>
                        ACTIVE:
                        {% if data.user.is_active %}
                            <label class="switch">
                                <input type="checkbox" checked disabled>
                                <span class="slider round"></span>
                            </label>
                        {% else %}
                            <label class="switch">
                                <input type="checkbox" disabled>
                                <span class="slider round"></span>
                            </label>
                        {% endif %}
                    </h5>
                    <h5>
                        LAST SEEN:
                        {{ data.user.last_login|naturaltime }}
                    </h5>
                    <h5>
                        LAST POST:
                        {{ data.created_on|naturaltime }}
                    </h5>
                </div>
            </div>
        </div>
    </div>

{% endblock %}